<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produtos</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1 class="text-center">Cadastro de Produtor</h1>
    <form th:action="@{/produtor/cadastrar}" th:object="${produtor}" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <input th:field="*{id}" type="hidden">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input th:field="*{nome}" id="nome" class="form-control">
        </div>
        <div class="form-group">
            <label for="nome">Email</label>
            <input th:field="*{email}" id="email" class="form-control">
        </div>

        <div class="form-group">
            <button class="btn btn-success">Cadastrar</button>
        </div>
    </form>
</div>
<div layout:fragment="rodape">
</div>
</body>
</html>