<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Meus produtos</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1 class="text-center">Meus Produtos</h1>
    <div class="alert alert-success" th:if="${msg !=null}" th:text="${msg}"></div>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th></th>
        </tr>
        <tr th:each="prod:${produtos}">
            <td th:text="${prod.nome}"></td>
            <td th:text="${prod.valor}"></td>
            <td th:text="${prod.qtdDisponivel}"></td>
            <td th:text="${prod.produtor.nome}"></td>
            <td>
                <a th:href="@{/produto/editar/}+${prod.id}" class="btn btn btn-primary">Editar</a>
                <a th:href="@{/produto/excluir/}+${prod.id}" class="btn btn btn-danger">Excluir</a>
            </td>
        </tr>
    </table>
</div>
<div layout:fragment="rodape">
</div>
</body>
</html>