<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">EasyHorta</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        .navbar-nav >li{
            margin-left:30px
        }
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/produto/listar/">EasyHorta</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" th:href="@{/produto/listar/}"> Produtos </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" th:href="@{/produtor/listar/}"> Produtores </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>

<div class="container">
    <div layout:fragment="conteudo"></div>
</div>
<hr>
<div layout:fragment="rodape"></div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>